<p-messages [value]="msgs"></p-messages>
<mat-card>
  <div class="table-header">

    <p-toolbar>
      <ng-template pTemplate="left">
        <button class="p-button-info p-mr-2" icon="pi pi-user-plus" label="Add User" pButton pRipple
                routerLink="add-user"></button>

      </ng-template>
      <ng-template pTemplate="right">
        <input #fileUpload (change)="confirmUploadFile($event)"
               accept=".csv,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               class="file-input" type="file">

        <button (click)="fileUpload.click()" [label]="fileName || 'Import file'" class="p-button-info p-mr-2" icon="pi pi-file-excel" pButton
                pRipple>

        </button>

      </ng-template>
    </p-toolbar>
    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input #input (keyup)="applyFilter($event)" pInputText placeholder="Search" type="text"/>
                    </span>
  </div>


  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Address email</th>
        <td *matCellDef="let user" mat-cell>{{user.email}} </td>
      </ng-container>


      <ng-container matColumnDef="firstName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Full name</th>
        <td *matCellDef="let user" mat-cell> {{user.firstName}} {{user.lastName}}</td>
      </ng-container>


      <ng-container matColumnDef="role">
        <th *matHeaderCellDef mat-header-cell> Role</th>
        <td *matCellDef="let user" mat-cell> {{user.Role.name}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="company">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Company</th>
        <td *matCellDef="let user" mat-cell> {{user.company}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Department</th>
        <td *matCellDef="let user" mat-cell> {{user.Department.name}} </td>
      </ng-container>
      <ng-container matColumnDef="function">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Function</th>
        <td *matCellDef="let user" mat-cell> {{user.Function.name}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell> Actions</th>
        <td *matCellDef="let user" mat-cell>
          <button (click)="openEditUserDialog(user)" class="p-button-rounded p-button-info p-mr-2" icon="pi pi-user-edit" pButton
                  pRipple pTooltip="Edit User"></button>
          <button (click)="confirmRestore(user)" [hidden]="user.enabled" class="p-button-rounded p-button-success" icon="pi pi-check" pButton
                  pRipple pTooltip="Activate User"></button>
          <button (click)="confirmDelete(user.id,'deactivate')" [hidden]="!user.enabled" class="p-button-rounded p-button-warning" icon="pi pi-times" pButton
                  pRipple pTooltip="Deactivate User"></button>
          <button (click)="confirmDelete(user.id,'delete')"  class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                  pRipple pTooltip="Delete User" tooltipPosition="left"></button>


        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" [class.make-grey]='!row.enabled' mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data available</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page of periodic elements"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-card>
<p-confirmDialog [baseZIndex]="10000" [style]="{width: '30vw'}"
                 key="confirmDialog">

</p-confirmDialog>

