<p-messages [value]="msgs"></p-messages>
<mat-card>
  <mat-card-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="p-fluid  p-grid">
    <div class="p-field p-col-12 p-md-6 p-lg-6">
      <label for="firstName" >First name*</label>
      <mat-form-field appearance="outline" id="firstName">
      <input  type="text" matInput class="firstName" formControlName="firstName"/>
      <mat-error *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched"
             class="text-danger support-text p-error">First name is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="p-field p-col-12 p-md-6 p-lg-6">
      <label for="lastName">Last name*</label>
      <mat-form-field appearance="outline" id="lastName">
      <input  type="text" class="lastName" matInput formControlName="lastName" />
      <mat-error *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched"
             class="text-danger support-text p-error">Last name is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="p-field p-col-12">
      <label for="addressEmail">Address e-mail*</label>
      <mat-form-field appearance="outline" id="addressEmail">
      <input type="text"  matInput formControlName="email"/>
      <mat-error *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
             class="text-danger support-text p-error">E-mail is required.</mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('pattern')"
             class="text-danger support-text p-error"> Must be a valid e-mail address. </mat-error>
      </mat-form-field>
    </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="role">Role*</label>
      <mat-form-field appearance="outline" id="role">
        <mat-select formControlName="role"  placeholder="Select">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['role'].hasError('required') && form.controls['role'].touched"
                   class="text-danger support-text p-error">Role is required.</mat-error>
      </mat-form-field>

      </div>

    <div class="p-field p-col-12 p-md-6">
      <label for="company">Company*</label>
      <mat-form-field appearance="outline" id="company">
        <mat-select formControlName="company"  placeholder="Select">
          <mat-option *ngFor="let company of companies" [value]="company.value">
            {{company.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['company'].hasError('required') && form.controls['company'].touched"
               class="text-danger support-text p-error">Company is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <label for="department">Department*</label>
      <mat-form-field appearance="outline" id="department">
        <mat-select formControlName="department"  placeholder="Select">
          <mat-option *ngFor="let department of departments" [value]="department.id">
            {{department.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['department'].hasError('required') && form.controls['department'].touched"
               class="text-danger support-text p-error">Department is required.</mat-error>
      </mat-form-field>
    </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="function">Function*</label>
        <mat-form-field appearance="outline" id="function">
          <mat-select formControlName="function"  placeholder="Select">
            <mat-option *ngFor="let function of functions" [value]="function.id">
              {{function.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['function'].hasError('required') && form.controls['function'].touched"
                     class="text-danger support-text p-error">Function is required.</mat-error>
        </mat-form-field>

  </div>

    </div>
    <div class="p-grid p-jc-end">
      <button pButton pRipple type="submit" label="Submit"  class="p-button-info p-col-4 p-md-4 "></button>
      <button pButton pRipple type="submit" label="Cancel" (click)="cancel()" class="p-button-secondary p-col-4 p-md-4 "></button>
    </div>

  </form>
  </mat-card-content>
</mat-card>
