.background-img{
  background-image:url("../../../assets/images/background/background4.jpg");
}
span.p-float-label{
  margin-bottom: 15px;
}
.m-t-20{
  margin-top: 12px;
}
:host::ng-deep.mat-card{
  width: 100%;
  border-radius:22px;
  background-color: rgb(255 255 255 / 79%);
}
:host::ng-deep.p-inputtext{
  border-radius: 14px;
  height: 90%;
  width: 100%;
}
span.p-float-label{
  width: 100%;
}
:host::ng-deep.p-button{
  border-radius: 11px;
}
#forgetpwd{
  font-size: 12px;
  text-decoration: underline;
}

:host::ng-deep.p-inline-message{
  width: 100%;
  justify-content: left;
  margin-bottom: 25px;
}
:host::ng-deep.p-error{
  margin-left: 9px;
}
